@inherits LayoutComponentBase
@inject NavigationManager Nav

<div class="page">
    @if (!IsAuthPage())
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsAuthPage()
    {
        var uri = Nav.Uri;
        return uri.Contains("/login") || uri.Contains("/register");
    }
}